body {
  margin: 0;
  padding: 0;
  padding-top: 1em;
  font-family: sans-serif;
  font-size: 18px;
  color: #773344;
  background-color: #FFF9B3;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p, .field {
    margin: 10px 0;
}

label {
    margin-bottom: 5px;
}

input {
    display: block;
    padding-left: 0.5em;
    /*background-color: #FFF9B3;*/
    padding: 6px;
    border: none;

}

ul {
    list-style-type: none;
    padding: 0;
}

.message {
    height: 100%;
    min-height: 500px;
    background-color: #D6FFB7;
    border: 15px solid #FFF9B3;
    padding: 1em 0.5em 0 1em;
}

.message-body {
    font-size: 1.5em;
}

.message-subtitle {
    display: block;
    font-size: 1.25rem;
    text-align: right;
}

.error {
    color: red;
}
