body {
  margin: 0;
  padding: 0;
  padding-top: 1em;
  font-family: sans-serif;
  font-size: 18px;
  color: #ff48c4;
  background-color: #000;
  font-family: 'prstart';
}

* {
    box-sizing: border-box;
}

@font-face{
  font-family: 'arcade';
  src: url(./fonts/arcade.ttf);
}

@font-face{
  font-family: 'prstart';
  src: url(./fonts/prstart.ttf);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h1, h2, h3 {
  font-family: 'arcade';
}

p, .field {
    margin: 10px 0;
    line-height: 1.2em;
}

label {
    margin-bottom: 5px;
}

input {
    display: block;
    padding-left: 0.5em;
    background-color: #f3ea5f;
    border: 1px solid black;
    padding: 12px;
    width: 100%;
}

input,
input::placeholder {
    font-family: 'prstart';
}

ul {
    list-style-type: none;
    padding: 0;
}

.message {
    height: auto;
    background-color: #000;
    padding: 1em 0.5em 1em 1em;
}
.message-inner {
    padding: 1em;
    border: 4px dotted #f3ea5f;
}
.message-body {
    font-size: 1.5em;
    margin: 1em;
}

.message-subtitle {
    display: block;
    font-size: 1.25rem;
    text-align: right;
}

.error {
    color: red;
    height: auto;
}

.backdrop {
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.6);
      padding: 50px;
      height: 500%;
      width: 100%;
      overflow: auto;
      z-index: 1;
}

.modal-message {
      background: #f3ea5f;
      border-radius: 5px;
      max-width: 80vw;
      min-height: 25vh;
      height: auto;
      margin: 0 auto;
      padding: 30px;
      /*position: relative;*/
}
/*
.share-toggle {
      bottom: 30px;
      position: absolute;
      right: 30px;
}*/

.btn {
    color: black;
    border-radius: 0;
    font-family: 'prstart';
}

.btn-open {
    background-color:   #c04df9;
}

.btn-close {
    background-color: #D6FFB7;
}

.btn-share {
    background-color: #2bd1fc;
    padding: 12px;
}

a {
    color: white;
}

@media (max-width: 700px){
    body{
      font-size: 14px;
    }

/*    .btn-share{
      font-size: 1em;
      margin: 0 2px;
    }*/
}
